<form asp-controller="Account" asp-action="Login" method="post">
    <!-- Campos de login aqui -->
    <input type="text" name="username" />
    <input type="password" name="password" />
    <button type="submit">Entrar</button>
</form>