@model GestorContratos.Models.Edital

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Edital</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditalTipo" class="control-label"></label>
                <input asp-for="EditalTipo" class="form-control" />
                <span asp-validation-for="EditalTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkPublico" class="control-label"></label>
                <input asp-for="LinkPublico" class="form-control" />
                <span asp-validation-for="LinkPublico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEdital" class="control-label"></label>
                <input asp-for="DataEdital" class="form-control" />
                <span asp-validation-for="DataEdital" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContratoId" class="control-label"></label>
                <select asp-for="ContratoId" class ="form-control" asp-items="ViewBag.ContratoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
